.bg-water {
    background: #88BBD6;
  }
  
  .bg-ice {
    background: #99D3DF;
  }
  
  .bg-linen {
    background: #E9E9E9;
  }
  
  .bg-plaster {
    background: #cdcdcd;
  }
  
  .bg-sand {
    background: #DCD2C8;
    background: linear-gradient(to right, #ffffff 0%, #dcd2cb 100%);
  }