@import 'nav';
@import 'layout';
@import 'colors';
@import 'text';
@import 'images';
@import 'utilities';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700;900&display=swap');

body {
    width: 100%;
    max-width: 1400px;
    overflow-x: hidden;
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222222;
    // background: #d6d6d680;
}

html {
    font-size: calc(60% + 0.8vmin);
  }

  * {
      font-size: 1rem;
  }

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  